.contact-container {
  display: flex;
  justify-content: center;
}

.contact-form-container {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.contact-form-container h2 {
  margin-bottom: 20px;
}

.contact-form-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form-container .form-group {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.contact-form-container label {
  display: block;
  margin-bottom: 5px;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form-container button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.location-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.location-container h2 {
  margin-bottom: 10px;
}

.location-container p {
  margin-bottom: 5px;
}
