.footer {
  padding: 4rem 6rem;
  background: white;
  color: #fff;
}
.footer h1 {
  color: blue;
  font-size: 2.5rem;
}
.top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top i {
  color: red;
  font-size: 2rem;
  margin-left: 1rem;
}
.top i:hover {
  color: gray;
}
.bottom {
  padding-top: 1rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
  color: black;
}
.bottom a {
  display: flex;
  text-decoration: none;
  color: gray;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}
.bottom a:hover {
  color: red;
}
@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  .footer i {
    margin: 1rem 1rem 0 0;
  }
  .bottom div {
    width: 50%;
  }
}
